absl-py==1.0.0
addict==2.4.0
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.6.5
antlr4-python3-runtime==4.8
anyio==3.5.0
appdirs==1.4.4
asgiref==3.5.0
astor==0.8.1
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
audioread==2.1.9
autopage==0.5.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
bce-python-sdk==0.8.64
black==22.1.0
bootstrap.pytorch==0.0.13
Bottleneck==1.3.4
brotlipy==0.7.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.4
click==8.0.4
cliff==3.10.1
cmaes==0.8.2
cmd2==2.4.0
colorama==0.4.4
colorlog==6.6.0
commonmark==0.9.1
cryptography==36.0.0
cycler==0.11.0
Cython==0.29.28
datasets==2.0.0
decorator==5.1.1
dill==0.3.4
Distance==0.1.3
distlib==0.3.4
docker-pycreds==0.4.0
dtaidistance==2.3.1
editdistance==0.6.0
et-xmlfile==1.1.0
executing==0.8.3
fastapi==0.75.1
filelock==3.6.0
flake8==4.0.1
Flask==2.1.1
Flask-Babel==2.0.0
fonttools==4.31.2
frozenlist==1.3.0
fsspec==2022.2.0
future==0.18.2
g2p-en==2.1.0
g2pM==0.1.2.5
geomdl==5.3.1
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.7.1
google-api-python-client==2.42.0
google-auth==2.6.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.56.0
greenlet==1.1.2
grpcio==1.44.0
h11==0.13.0
h5py==3.6.0
htk-io==0.5
httplib2==0.20.4
huggingface-hub==0.4.0
hydra-colorlog==1.1.0
hydra-core==1.1.1
hydra-optuna-sweeper==1.1.2
identify==2.4.12
idna==3.3
importlib-metadata==4.11.3
inflect==5.4.0
ipdb==0.13.9
ipython==8.1.1
itsdangerous==2.1.2
jedi==0.18.1
jieba==0.42.1
Jinja2==3.1.1
joblib==1.1.0
jsonlines==3.0.0
kaldiio==2.17.2
kiwisolver==1.4.2
librosa==0.8.1
lightning-bolts==0.5.0
llvmlite==0.38.0
loguru==0.6.0
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.2
mccabe==0.6.1
mcd==0.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mmcv-full==1.3.9
mock==4.0.3
mpmath==1.2.1
multidict==6.0.2
multiprocess==0.70.12.2
munch==2.5.0
mypy-extensions==0.4.3
nara-wpe==0.0.7
nltk==3.7
nodeenv==1.6.0
numba==0.55.1
numexpr==2.8.1
numpy==1.21.2
oauth2client==4.1.3
oauthlib==3.2.0
omegaconf==2.1.1
opencv-python==4.5.5.64
openpyxl==3.0.9
optuna==2.10.0
packaging==21.3
paddleaudio==0.2.0
paddlenlp==2.2.5
paddlepaddle==2.2.2
paddlespeech==0.2.0
paddlespeech-ctcdecoders==0.2.0
paddlespeech-feat==0.1.0
pandas==1.4.1
parso==0.8.3
pathos==0.2.8
pathspec==0.9.0
pathtools==0.1.2
pattern-singleton==1.2.0
pbr==5.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pip==22.0.4
platformdirs==2.5.1
plotly==5.6.0
pooch==1.6.0
portalocker==2.4.0
pox==0.3.0
ppft==1.6.6.4
praatio==5.0.0
pre-commit==2.18.1
pretrainedmodels==0.7.4
prettytable==3.2.0
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.9.0
pyDeprecate==0.3.2
PyDrive==1.3.1
pyflakes==2.4.0
Pygments==2.11.2
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyperclip==1.8.2
pypinyin==0.46.0
pypinyin-dict==0.2.0
PySocks==1.7.1
python-dateutil==2.8.2
python-editor==1.0.4
pytorch-lightning==1.6.1
pytz==2021.3
pyworld==0.3.0
PyYAML==6.0
regex==2021.11.2
requests==2.27.1
requests-oauthlib==1.3.1
resampy==0.2.2
responses==0.18.0
rich==12.2.0
rsa==4.8
sacrebleu==2.0.0
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
sentencepiece==0.1.96
sentry-sdk==1.5.8
seqeval==1.2.2
setproctitle==1.2.2
setuptools==58.0.4
shellcheck-py==0.8.0.4
shortuuid==1.0.8
six==1.16.0
skipthoughts==0.0.1
smmap==5.0.0
sniffio==1.2.0
SoundFile==0.10.3.post1
SQLAlchemy==1.4.34
stack-data==0.2.0
starlette==0.17.1
stevedore==3.5.0
sympy==1.10.1
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
termcolor==1.1.0
TextGrid==1.5
threadpoolctl==3.1.0
timer==0.2.2
toml==0.10.2
tomli==2.0.1
torch==1.11.0
torchaudio==0.11.0
torchmetrics==0.7.3
torchstat==0.0.7
torchtext==0.12.0
torchvision==0.12.0
tqdm==4.63.0
traitlets==5.1.1
typeguard==2.13.3
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.8
uvicorn==0.17.6
virtualenv==20.14.0
visualdl==2.2.3
wandb==0.12.13
wcwidth==0.2.5
webrtcvad==2.0.10
Werkzeug==2.1.0
wheel==0.37.1
xxhash==3.0.0
yacs==0.1.8
yapf==0.31.0
yarl==1.7.2
yaspin==2.1.0
youtube-dl==2021.12.17
zipp==3.7.0
